<div class="container">
  <div appNgAutoScroll class="chat-box">
    <ul class="list-group">
      <li *ngFor="let msg of messages" class="list-group-item" [ngClass]="msg.speaker">
        <div class="col-xs-2 face"><img
          src="http://placehold.jp/24/{{msg.faceColor}}/FFF/100x50.png?text={{msg.userName}}"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-9 fukidashi"><span>{{msg.text}}</span></div>
      </li>
    </ul>
  </div>
  <div class="send-box">
    <div class="row">
      <div class="col-10"><input #sendMessage class="form-control" (keydown.meta.enter)="send(sendMessage.value); sendMessage.value='';"></div>
      <div class="col-2">
        <button class="btn btn-default" (click)="send(sendMessage.value); sendMessage.value='';">送信</button>
      </div>
    </div>
  </div>
</div>
